{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div class="content-text">
    <p>Данный сайт представляет собой информационную платформу с краткой биографией известных денщин мира. В нем
        реализован механиз авторизации, аутентификации а также обратная связь. Добавление новых статей возможно только
        авторизованными пользователями. При разработке реализована оптимизация нагрузки на СУБД а также кастомизирована
        админ-панель сайта</p>
    <p>
        Сайт был создан на основе видео-уроков Youtube канала <a href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA">Selfedu</a>
    </p>
    <p>Этот канал рекомендуется всем начинающим разработчикам, которые хотят изучить:</p>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
        <li>Machine Learning</li>
    </ul>

</div>

{% endblock %}
